

body{
  background-color: black;
}

/* Keyframes for seamless Left to Right Marquee */
@keyframes marquee-left {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee-left {
  animation: marquee-left 10s linear infinite;
  display: inline-block;
  white-space: nowrap;
}

/* Keyframes for seamless Right to Left Marquee */
@keyframes marquee-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee-right {
  animation: marquee-right 10s linear infinite;
  display: inline-block;
  white-space: nowrap;
}

.animate-marquee-right2 {

  animation: marquee-right 13s linear infinite;
  display: inline-block;
  white-space: nowrap;

}

/* Keyframes for growing and shrinking the border width */
@keyframes border-pulse {
  0% {
    border-width: 6px;
  }
  50% {
    border-width:4px;
  }
  100% {
    border-width: 2px;
  }
}

/* Apply the animation */
.animate-border-pulse {
  animation: border-pulse 1s infinite ease-in-out;
}

.custom-svg {
  position: absolute;
  width: 500px; 
  height: 600px; 
  top: 10%;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  gap: 1rem;
  animation: marquee 30s linear infinite;
  width: calc(200%); 
}


input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}


